header{
        background: #cf6223c9;
        border-radius: 50px;
        position: fixed;
        width: 90%;
        margin: 0 auto;
        left: 5%;
        top: 24px;
        /*transform: translateX(-50%);*/
        display: flex;
        justify-content: space-between;
        align-items: center;
    nav{
        display: flex;
    }
    ul{
        display: flex;
        background-color: #ce6d34c2;
        
        border-radius: 4vw;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
    }
    li{
        color: #fff;
        padding: 1vw;
        margin: 2.5px;
    }
    li:hover{
        background-color: rgb(255, 126, 67);
        margin: 2.1px;
        border-radius: 4vw;
    }
}

i#burguer{
    color: aliceblue;
    cursor: pointer;
    padding: 0 2vw;
    font-size: 3rem;
}
i#burguer:hover{
    color: rgb(194, 194, 194);
    
}

.menu{
    display: none;
}

.logo{
    padding: 6px 2vw 0vw 3.5vw;
}