@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
html{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 750px;
    background-image: url("../src/Banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}


header div{
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    height: 600px;
    background-color:  rgba(252, 115, 35, 0.733);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 2;
}

header div h1 {
    font-size: 8rem;
    font-weight: bold;
    color: white;
    padding: 100px 0 0 0;
    font-family: "Figtree", sans-serif;
}

header div h2 {
    font-size: 5rem;
    font-weight: 400;
    color: white;
    margin-top: -85px;
    padding: 0 0 2vw 0;
    font-family: "Figtree", sans-serif;
}

header div p {
    font-size: 64px;
    font-weight: light;
    color: white;
    padding: 0 0 2px 0;
}

section.producao {
    padding: 4vw;
    text-align: center;
}

section.producao h2{
    font-size: 30px;
    font-weight: 700;
    padding: 0;
    color: #CF6123;
    border-bottom: solid 5px #CF6123;
}

section.producao p{
    padding: 1.2vw 0 2vw 0;
    font-size: 18px;
}

section.producao img{
    padding: 3vw 0 2vw 0;
}

section.producao ul {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 3vw;
}

section.producao ul li{
    border: solid 7px  #CF6123;
    padding: 1vw 2vw;
    border-radius: 2vw;
    text-align: left;
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

section.producao h3{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0 6vw 0 6vw;
    color: #CF6123;
    border-bottom: solid 5px #CF6123;
}

section.producao p.anos{
    padding: 2vw 0 0 0;
    font-size: 14px;
    color: #CF6123;
}

hr{
    border: none;
    border-top: 7px dashed #CF6123;
    margin: 0vw 0;
}

section.impactos {
    padding: 4vw;
    text-align: center;
}

section.impactos h2{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0 6vw 0 6vw;
    color: #CF6123;
    border-bottom: solid 5px #CF6123;
}

section.impactos ul{
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 3vw;
}

section.impactos ul li{
    border: solid 7px  #CF6123;
    padding: 1vw 2vw;
    border-radius: 2vw;
    text-align: left;
    width: 40vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

section.organizacao {
    margin: 2vw 4vw 5vw 4vw;
    text-align: center;
}

section.organizacao h2{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 0 6vw 0 6vw;
    color: #CF6123;
    border-bottom: solid 5px #CF6123;
}

section.organizacao p{
    padding: 3vw 0 0 0;
    margin: 0.5vw;
    font-size: 18px;
}

footer{
    background-color: #CF6123;
    margin-top: 4vw;
    padding: 25px 8vw 0px;

    position: relative;
    overflow: hidden;

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        gap: 40px;
    }
    

        .geral{
            width: 35%;
            
        }

    .titulo{
        display: flex;
        align-items: center;
        gap: 8px;

        img{
            width: 45px;
            height: 45px;
        }
        h2{
            color: #fff;
            font-weight: bold;
            font-size: 1.5rem;
            
        }
        
    }
    p{
        color: #F7F1E8;
        font-size: 1rem;
        line-height: 1.5;
        max-width: 360px;
        padding: 12px 0px 0 8px;
    }

    .mapa{
        width: 30%;
        padding-left: 4vw;
        h2{
            color: #fff;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 0;
            margin: 0 0 8px;
        }

        ul{
            li{
                margin-bottom:3px ;

                a{
                    color: #F7F1E8;
                    font-size: 1rem;
                }
                a:hover{
                    color:#f7f1e8bd;
                    text-decoration: underline;
                }
            }
        }
    }
    .redes{
        width: 30%;

        min-height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;

        position: relative;
        z-index: 2;

        .button-footer div{
            display: flex;
            align-items: center;
            justify-content: center;

            background: #F7F1E8;

            /*width: 120px;
            height: 80px;*/
            padding: 5px 10px;
            gap: 5px;
            border-radius: 6px;

            p{
                color: #3A3531;
                font-weight: bold;
                font-size: 1.1rem;
                margin-top: -13px;
            }
        }
        .button-footer:hover div {
            background-color: #3a35313f;
            color: #F7F1E8;
            transform: translateY(-3px);
            transition: background-color 0.4s ease,
                transform 0.4s ease;

        }
        .button-footer:hover p{
            color: #F7F1E8;
            transform: translateY(-3px);
            transition: color 0.4s ease;
        }
        .button-footer:hover img {
            transform: translateY(-3px);
        }

        .social-icons a img{
            padding: 2.5vw 10px 0;
            
        }
    
    }

    .copyright {
        background-color: #3A3531;
        color: #F7F1E8;
        width: calc(100% + 16vw);
        text-align: center;
        font-size: 0.7rem;
        padding: 7px 0;
        margin: 20px -8vw 0;

        position: relative;
        z-index: 1;
    }

    .triangulos-footer{
        position: absolute;

        width: 400px;
        height: auto;
        right: 4%;
        top: -5px;

        z-index: 1;

        pointer-events: none;
    }

}