
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
html{
    font-family: 'Poppins', sans-serif;
}

/* === HEADER === */
header{
    height: 750px;
    background-image: url("banner.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

header div{
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    height: 600px;
    background-color:  #cf6223c9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    z-index: 2;
}

header div h1 {
    font-size: 8.5rem;
    font-weight: bold;
    color: white;
    padding: 100px 0 0 0;
    font-family: "Figtree", sans-serif;
}

header div h2 {
    font-size: 5.5rem;
    font-weight: 400;
    color: white;
    margin-top: -45px;
    padding: 0 0 2vw 0;
    font-family: "Figtree", sans-serif;
}

header div p {
    font-size: 64px;
    font-weight: light;
    color: white;
    padding: 0 0 2px 0;
}
/* === MAIN === */

main{
    background-color: #fff8eb;
}
/* === COmo funciona === */

section#oque{
    text-align: center;
    h2{
        font-family: "Figtree", sans-serif;
        font-size: 3.6rem;
        padding: 5vw 0 30px 0 ;
        font-weight: bold;
    }
    h2 span{  
        color: #CF6123;
        border-bottom: 4px solid #CF6123; 
    }
    p{
        text-align: left;
        padding: 0 6vw 5vw 6vw;
        font-size: 1.7rem;
    }
}

section#como{
    
    h3{
        text-align: left;
        color: #CF6123;
        font-weight: bold;
        font-size: 2.7rem;
        font-family: "Figtree", sans-serif;
        padding: 2vw 6vw 3.5vw;
    }
    h3 span{
        color: #CF6123;
        border-bottom: 4px solid #CF6123; 
    }
    li{
        display: flex;
        align-items: center;
        /*padding: 0 6vw 0 6vw;*/
        h4{
            color: #208202;
            font-size: 2rem;
            font-weight: bold;
            padding: 2.5vw 6vw 0 6vw ;
            
        }
        h4   span{
        border-bottom: 4px solid #208202; 
        }
        p{
            padding: 1.5vw 6vw 2vw 6vw ;
            font-size: 1.5rem;
        }

        div.esquerda{
            padding: 0 4vw 0 6vw;
        }

        div.img-direita{
            padding-right: 10vw;
        }
        
    }
}
